#title {
  text-align: center;
  background-color: aqua;
  margin: 0;
  padding: 0.5em 0em 0.5em 0em;

}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 10em;
  height: 10em;
  padding: 0em 2em 0em 2em;
  border: 0.1em solid black;
  /* box-shadow: 0.5em 0.5em 1em rgb(0, 217, 255) inset; */
}

.dropdown-cart {
  /* display: block;
  text-align: right;
  padding: 0; */
  float: right;
  position: relative;
}

#lego-brick-section {
  /* display: grid; */
  padding: 2em 0em 0em 4em;
  /* padding: 2em; */
}

.brick-container {
  display: inline-block;
  border: 0.5em inset aqua;
  padding: 1em 1em 1em 1em;
}


div {
  width: fit-content;
}

.btn, #login, #logout {
  background-color: rgb(0, 132, 255);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  /* position: fixed; */
}

.btn {
  /* position: fixed; */
  right: 5em;
}

#login {
  /* position: fixed; */
}

aside {
  position: sticky;
  top: 0px;
  background-color: black;
}

.btn:hover, .btn:focus {
  background-color: aqua;
}

.brick-details {
  float: right;
  padding: 0em 0em 0em 1em;
  font-size: 1.5em;
  white-space: pre;
}

.all-brick-details {
  white-space: pre;
}

.input_details {
  float: left;
}

#checkout {
  font-size: 2em;
  display: block;
  float: right;
}

.remove-brick-icon {
  font-size: 2em;
  position: absolute;
  left: 2.5em;
}

@media(max-width:65em) {
  .btn, #login, #logout {
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 16px;
    font-size: 35px;
    border: none;
    cursor: pointer;
  }

  #price, #name, #stock, #description, #image, #send {
    font-size: 2em;
  }

  #image-file {
    font-size: 1em;
  }

  #lego-brick-section {
    padding: 2em 0em 0em 2em;
  }

  img {
    width: 20em;
    height: 20em;
    /* padding: 0em 2em 0em 2em; */
    /* box-shadow: 0.5em 0.5em 1em rgb(0, 217, 255) inset; */
    -webkit-transform: scale(1);
	  transform: scale(1);
	  -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .brick-container {
    padding: 2em;
    border: 0.2em solid aqua;
  }

  img:hover {
    /* box-shadow: 0.5em 0.5em 1em rgb(149, 7, 237); */
    /* background-color: black; */
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }

  .all-brick-details {
    font-size: 2em;
    padding-right: 0.2em;
    white-space: pre;
  }

  .brick-details {
    float: right;
    padding: 0em 0em 0em 1em;
    font-size: 2em;
    white-space: pre;
  }

  #title {
    text-align: center;
    background-color: aqua;
    font-size: 5em;
    margin: 0;
    padding: 0.5em 0em 0.5em 0em;
  }

  .input-display {
    width: 5em;
    height: 2em;
    font-size: 2em;
    display: inline-block;
  }

  .add-to-cart {
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 0.5em;
    font-size: 2em;
    border: none;
    cursor: pointer;
  }

  #checkout {
    font-size: 4em;
    display: block;
    float: right;
  }

  #total-price {
    font-size: 5em;
  }

  .error-message {
    font-size: 1.5em;
    color: red;
    width: 100%;
  }

  .remove-brick-icon {
    position: absolute;
    left: 1em;
    font-size: 3em;
  }
}

/* span { */
  /* display: inline-block; */
  /* text-align: right; */
  /* position: absolute; */
  /* font-size: 0.7em; */
  /* right: 5px; */
  /* top: -0.5px; */
  /* width: 100%; */
  /* height: 100%; */
  /* font-size: 5em; */
/* } */

span {
  z-index: 9;
  font-size: 3em;
  /* width: 100%; */
  /* height: 100%; */
  position: absolute;
  left: 0.2em;
  /* top: -0.5px; */
  /* margin: 2em; */
}

#total-price {
  font-size: 3em;
}
/* span:hover { */
  /* box-shadow: 0.5em 0.5em 0.5em rgb(203, 4, 4) inset; */
/* } */

.total-count {
  font-size: 1em;
  position: initial;
}

#brick-name, h2 {
  font-size: 2em;
  color: rgb(149, 7, 237);
  display: grid;
  padding-bottom: 1em;
  text-decoration: underline;
}

#brick-price, #brick-description {
  font-size: 2em;
  color: rgb(149, 7, 237);
}

.error-message {
  /* font-size: 1.5em; */
  /* width: fit-content; */
  color: red;
  /* padding-left: 0.5em; */
}

.goodbye-message {
  font-size: 4em;
}


/* 50 em */
/* 35 em */
/* 28 em */
/* 75 em */
/* 30 em */